key_layout=dvorak
# Global upload and download rate in KiB. "0" for unlimited.
download_rate = 0
upload_rate = 0

min_peers = 30 ; look for more peers if limit doesn't reach 50
max_peers = 250 ; if there are 500 peers, don't allow any more

# Same as above but for seeding completed torrents (-1 = same as downloading)
min_peers_seed = 0
max_peers_seed = 0

# Maximum number of simultanious uploads per torrent.
max_uploads = 3

port_range = 49132-49151 ; ports to use for listening

# Start opening ports at a random position within the port range.
port_random = no

check_hash = yes ; check hash on finished torrents

# Encryption settings
encryption = allow_incoming,enable_retry,try_outgoing
#encryption = require,require_RC4,allow_incoming,enable_retry

use_udp_trackers = yes ; setup client to use udp (stateless) trackers

# DHT clientless tracker
dht = on
dht_port = 51413
peer_exchange = yes

# Session tmp file (relative dir is good, absolute is bad)
session = ~/.torrents/.session

# Preallocate files
system.file_allocate.set = yes

# Default directory to save the downloaded torrents.
directory = ~/.torrents/Downloads/
schedule = watch_directory,5,5,"load_start=/home/jon/Downloads/*.torrent"
schedule = watch_directory,5,5,"load_start=~/.torrents/watch/*.torrent"

# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=2048M

# Throthling
#schedule = throttle_high,01:15:00,16:00:00,"download_rate=0;upload_rate=0"
#schedule = throttle_low,07:30:00,01:15:00,"download_rate=35;upload_rate=35"
#schedule = throttle_high,08:00:00,16:00:00,"download_rate=0;upload_rate=0"
#schedule = throttle_low,16:00:00,01:15:00,"download_rate=35;upload_rate=35"
